DATABASE_URL=your_postgresql_connection_string_here
PORT=3000
NODE_ENV=production
JWT_SECRET=your_jwt_secret_here
# Add other secrets here
RAPID_API_KEY=Fd215d3ff9mshb341cac3fbaeb72p190b85jsn1fbbc0b7e341


