global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'livo-app'
    metrics_path: /metrics
    scheme: http
    params:
      token: ['METRICS_TOKEN_PLACEHOLDER']
    static_configs:
      - targets: ['app:3000']

  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
